<app-add-update-post *ngIf="currentUser && showPostContainer" [isUpdating]="false" (onAddPost)="addNewPost($event)">
</app-add-update-post>
<mat-toolbar *ngIf="!currentUser">
  <p class="link" (click)="openAuthDialog()">Want to post? Sign in</p>
</mat-toolbar>
<mat-card class="posts-container">
  <div *ngIf="loadingPosts" class="mat-spinner-wrapper posts-spinner">
    <mat-spinner></mat-spinner>
  </div>
  <div class="main-thread">
    <div class="main-actions" *ngIf="currentUser">
      <button mat-raised-button matTooltip="Write a post" (click)="toggleNewPostContainer()">
        <mat-icon color="accent">add_comment</mat-icon>
      </button>
      <mat-slide-toggle (change)="sliderChanged($event)">Only mine
      </mat-slide-toggle>
      <mat-slide-toggle (change)="isOnlyLikedByMe($event)">Only liked by me</mat-slide-toggle>
    </div>
    <mat-toolbar *ngIf="posts.length === 0 && !loadingPosts">
      <p class="no-content">There is nothing</p>
    </mat-toolbar>
    <div *ngFor="let _post of posts" class="user-post">
      <app-post [post]="_post" [currentUser]="currentUser" (onDeletePost)="deletePost($event)"></app-post>
    </div>
  </div>
</mat-card>